/*Notes for CSS: 
  - use flexboxes to format content
  - 
*/

*{
    box-sizing: border-box;
}
header{
    margin: 20px;
    text-shadow: 3px 4px 15px;
}
header h1{
    text-align: center;
}
body{
    margin: 0px;
    background-color: hsl(210, 14%, 89%);
}
main{
    margin: 20px;
}
h1{
    text-align: left;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(210, 11%, 15%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;

    box-shadow: 2px 2px 4px;
}
.navbar a{
    color: hsl(210, 17%, 98%);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(210, 11%, 5%);
}
.navbar li{
    float: left;
}
.hero{
    display: flex;  
}
.hero img{
    width: 60%;
    padding: 15px;  
}
.boxr{
    width: 40%;
    padding: 15px;
    background-color: hsl(210, 14%, 83%);
}
.boxl{ /*do something using combinator*/
    width: 40%;
    padding: 15px;
}
.about{
    display: flex;
}
.box{
    width: 200px;
    height: 200px;
    background-color: hsl(210, 9%, 31%);
    display: flex;
}
footer{
    display: block;
    clear: both;
    background-color: hsl(208, 7%, 46%);
    text-align: center;
    padding: 20px;
}
@media screen and (max-width:600px) {
    div{
        width: 100%
    }
}